.container {
  background-color:rgba(165, 164, 164, 0.3);
  color: white;
  box-sizing: border-box;
  overflow: scroll;
  position: absolute;
  z-index: 1;
  top: 4em;
  height: calc(100vh - 6em);
  width: calc(100% - 4em);
  padding: 2em;

  a {color: white;}
}
