.container {
  background-color:rgba(0, 0, 0, 0.4);
  color: white;
  box-sizing: border-box;
  overflow: scroll;
  position: absolute;
  z-index: 1;
  top: 4em;
  height: calc(100vh - 6em);
  width: calc(100% - 4em);
  padding: 2em;

  a {color: white;}
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.9em;
  margin-bottom: 2em;

  span {
    width: 100%;
    font-weight: bold;
  }
}
