.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 12em);
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  background-color:  rgb(58, 58, 58);
  width: 100%;
  height: 2em;
}

.filter-menu-content{ 
  display: none;
  box-sizing: border-box;
  background-color: lightgray;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    color: black;
    text-align: left;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 1em;
    cursor: pointer;
  }
}

.filter-menu:hover .filter-menu-content {display: block}

.filter-menu-content li:hover {
  background-color: #ddd;
}

.filter-menu-content:hover .filter-menu-content {display: block} 

@media screen and (max-width: 1000px) {

  .container {
    position: absolute;
    top: 100%;
    width: 100%
  }
}