.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 12em);
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color:  rgb(58, 58, 58);
  width: 100%;
  height: 2em;
  position: relative;
}

.filter-menu-content{ 
  display: none;
  box-sizing: border-box;
  background-color: lightgray;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    color: black;
    padding: 1em 1em;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    text-align: left;
  }
}

.filter-menu:hover .filter-menu-content {display: block}

.filter-menu-content li:hover {
  background-color: #ddd;
}

.filter-menu-content:hover .filter-menu-content {display: block} 