
html, body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  background-color: black;
}

.chatbot-panel {
  height: 100vh;
  width: 30%;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}


::-webkit-scrollbar {
  width: 0;
  background: transparent;  
}

@media screen and (max-width: 768px) {
  .chatbot-panel {
    width: 100vw;
  }
}