
html, body {
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
  background-color: black;
  display: flex;
  justify-content: center;
}

#root {
  position: fixed;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  background-color: rgba(99, 99, 99, 1); 
  width: 8em;
  height: 2em;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
}

.btn--green {
  background-color: rgba(4, 170, 109, 1);
}
.btn--blue {
  background-color: rgba(61, 95, 168, 1);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;  
}

@media screen and (max-width: 1000px) {
  .btn {width: 100%}

  #root::-webkit-scrollbar {
    display: none;
  }
}

